/* * {
    outline: 1px dashed white;
} */
:root {
    --active-tab-background-color: rgba(200, 200, 200, 0.95);
    --tab-footer-background-color: rgba(50, 50, 50, 0.8);
    --img-height-size: 300px;
}
html,
body {
    margin: 0px;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    background: url('./background.jpg') repeat center/cover;
    line-height: 1.5;
}

/* All Tabs */
.tab-active {
    background: var(--active-tab-background-color) !important;
}
.content {
    display: none;
}
.content-active {
    display: flex;
    background: var(--active-tab-background-color);
}
#content {
    display: flex;
    height: 100%;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.tabContainer > .tab {
    height: 60px;
    width: 120px;
    font-size: 15px;
    outline: none;
    border: none;
    background-color: var(--tab-footer-background-color);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    cursor: pointer;
}
.content {
    flex-grow: 1;
}
.container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    padding: 50px 200px 50px 200px;
}
img {
    height: 350px;
    width: auto;
    padding-bottom: 15px;
}

/* Footer */
.footer-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--tab-footer-background-color);
    color: white;
}

/* Home Tab */
.home-title {
    font-size: 30px;
    font-weight: 550;
    white-space: nowrap;
}
.review-container {
    display: flex;
    flex-direction: column;
}
.customer-name {
    align-self: flex-end;
}
.hours-title {
    font-size: 20px;
    font-weight: 550;
}
.location-title {
    font-size: 20px;
    font-weight: 550;
}

/* Menu Tab */
.menu-sub-container,
.contact-sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-sub-title,
.contact-sub-title {
    font-size: 30px;
    font-weight: 550;
    padding: 30px;
    text-decoration: underline;
}
.menu-sub2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-sub2-title {
    padding: 30px;
    white-space: nowrap;
}

/* Contact Tab */
.contact-sub2-container {
    display: flex;
}
.contact-sub3-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.contact-sub3-title {
    font-size: 30px;
}
.contact-sub3-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}