html,
body {
    margin: 0px;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('./background.jpg') no-repeat center/cover;
}

/* All Tabs */
.tab-active {
    background: lightgray !important;
}
.content {
    display: none;
}
.content-active {
    display: block;
    background: lightgray;
}
#content {
    display: flex;
    height: 100%;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.tabContainer > .tab {
    height: 60px;
    width: 120px;
    font-size: 15px;
    outline: none;
    border: none;
    background: white;
}
.content {
    flex-grow: 1;
}

/* Footer */
.footer-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Home Tab */
.home-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}